---
---

@import 'jekyll-theme-cayman';

.page-header{
color:#ffff;
background-color:#A067AB;
background-image:linear-gradient(120deg,#5073B8,#A067AB);
}

.main-content h1 {
  color: #A067AB;
}
.main-content h2 {
  color: #A067AB;
}
.main-content h3 {
  color: #A067AB;
}
.main-content h4 {
  color: #A067AB;
}
.main-content h5 {
  color: #A067AB;
}
.main-content h6 {
  color: #A067AB;
}


